nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px; /* Espaçamento entre os itens */
  }
  
  /* Estilo dos links do cabeçalho */
  .navigation-link {
    color: rgb(23, 23, 23); /* Define a cor do texto para preto */
    text-decoration: none; /* Remove o sublinhado */
  }
  
  /* Efeito ao passar o mouse */
  .navigation-link:hover {
    text-decoration: underline;
    font-weight: bold; /* Deixa o texto em negrito */
  }
  
  /* Estilo básico dos botões */
  button {
    background-color: green; /* Cor de fundo */
    border: none;
    color: orange; /* Cor do texto */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px; /* Bordas arredondadas */
    transition: box-shadow 0.3s ease; /* Suaviza a transição do brilho */
  }
  
  /* Efeito de brilho ao passar o mouse nos botões */
  button:hover {
    box-shadow: 0 0 15px yellow;
  }
  .access-button {
    display: inline-block;
    background-color: #FAEBD7;
    color: #055F0E;
    padding: 10px 25px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  /* Reset básico para remover estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilizando o cabeçalho */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
}

.logo {
  width: 100px;
  height: auto;
}

.navigation-list {
  list-style-type: none;
  display: flex;
}

.navigation-item {
  margin: 0 10px;
}

.navigation-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.contato-button {
  text-decoration: none;
  background-color: green;
  color: white; 
  padding: 15px 25px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.contato-button:hover {
  background-color: darkgreen;
}


.intro-section {
  position: relative;
}

.intro-image {
  width: 100%;
  height: auto;
  display: block;
}

/* info evento */

body {
    background-image: url('Images/Group2.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .event-info {
    text-align: center;
    color: #FFF;
    position: relative;

  }
  
  .event-info .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .event-logo {
    margin-top: 50px;
    width: 200px;
    margin-bottom: 50px;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .stat-number {
    font-size: 3em;
    font-weight: bold;
  }
  
  .stat-text {
    display: block; 
    font-size: 1em;
  }

    /* localizacao */
/* Supondo que '.event-info' seja a seção com a imagem de fundo verde e bege */
.event-info {
    position: relative; /* Define a seção de fundo como um contêiner relativo */
  }
  
  .localizacao {
    position: absolute;
    bottom: -40px; /* Aumente este valor para mover a seção para cima */
    left: 50%;
    transform: translateX(-50%);
    background: none;
    padding: 0;
  }
  
  .localizacao .container {
    display: block; /* Mude de flex para block se necessário */
    align-items: center;
    justify-content: center;
  }
  
  .localizacao .endereco {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  
  .localizacao .icon-localizacao {
    width: 80px; /* ou o tamanho que você preferir */
    height: auto;
  }
  
      /* dias evneti */

.event-dates {
  text-align: center; /* Para centralizar o texto das datas */
  padding: 20px 0; /* Espaçamento superior e inferior */
  margin-bottom: 20px; /* Adjust the value as needed */
}
  
.event-dates .container {
    display: flex;
    justify-content: space-around; /* Espalha os itens de data uniformemente */
    flex-wrap: wrap; /* Garante que os itens sejam ajustados conforme a largura */
  }
  
  .event-dates .date-item {
    flex-basis: 20%; /* Ajuste a base flexível para controlar a largura dos itens */
    margin: 5px 0; /* Espaço superior e inferior entre os itens */
  }
  
  .event-dates .date {
    font-size: 20px; /* Tamanho da fonte para as datas */
    font-weight: bold; /* Opcional, para dar destaque */
    margin-bottom: 5px; /* Espaço entre a data e a descrição do evento */
  }
  
  .event-dates .event {
    font-size: 16px; /* Tamanho da fonte para a descrição do evento */
  }
  
  .endereco {
    margin-bottom: 20px; /* Adiciona espaço abaixo do endereço */
  }

    /* COMITES */

    .comites {
        background-color: #f0f0f0; /* Cor de fundo para a seção dos comitês */
        padding: 40px 0;
        text-align: center;
      }
      
      .comites-title {
        margin-bottom: 20px;
        font-size: 24px; /* Ajuste o tamanho conforme necessário */
      }
      
      .comites-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Cria uma grade responsiva com colunas de tamanho mínimo de 150px e máximo do que estiver disponível */
        gap: 20px; /* Espaço entre os comitês */
        max-width: 1200px; /* Largura máxima do container da grade */
        margin: 0 auto; /* Centraliza a grade */
      }
      
      .comite-item {
        background-color: white; /* Cor de fundo para os itens individuais dos comitês */
        padding: 20px;
        border-radius: 10px; /* Cantos arredondados para os cartões dos comitês */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve para os cartões */
      }
      
      .comite-item img {
        width: 100px; /* Ajuste para o tamanho dos logotipos */
        height: auto; /* Para manter a proporção da imagem */
        margin-bottom: 10px;
      }
      
      .comite-item h3 {
        margin-bottom: 5px;
        font-size: 18px; /* Ajuste o tamanho do título conforme necessário */
      }
      
      .comite-item p {
        font-size: 14px; /* Ajuste o tamanho da descrição conforme necessário */
      }
  
    
    /* Rodapé */
    
    .site-footer {
      padding: 20px;
      text-align: left;
      background: #f4f4f4;
    }
    
    .footer-logo-socials {
      display: flex;
      flex-direction: column;
      align-items: left;
    }
    
    .social-icons {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      width: 5%;
      margin-left: 30px;
    }
    
    .footer-credits {
      text-align: right;
      margin-bottom: 100px;
    }
    
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: right;
    }
    
    .footer-nav {
      position: absolute;
      top: 10px; /* Ajuste conforme necessário */
      right: 10px; /* Ajuste conforme necessário */
      display: flex; /* Isso garantirá que os links fiquem um ao lado do outro */
    }
    
    .footer-nav a {
      margin: 0 10px;
      text-decoration: none;
      color: #333333; /* Cor do texto dos links */
    }
    
    .footer-logo {
      width: 15%;
      display: flex;
      justify-content: space-between; /* Alinha itens horizontalmente com espaço entre */
      align-items: center; /* Alinha itens verticalmente no centro */
      padding: 10px 20px; /* Espaçamento dentro do cabeçalho */
    }
    
    .footer-nav-list {
      list-style: none;
      display: flex;
      padding: 0;
    }
    
    .footer-nav-item {
      margin-left: 20px; /* Ou o espaçamento que você achar melhor */
    }
    
    .footer-nav-link {
      text-decoration: none;
      /* Adicione qualquer outro estilo que desejar para os links */
    }
    